<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ARFI_POS.Properties.Settings.ArfiPlusPerfurmesConnectionString"
            connectionString="Data Source=(local);Initial Catalog=ArfiPlusPerfurmes;Persist Security Info=True;User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ARFI_POS.Properties.Settings.ArfiPlusPerfurmesConnectionString1"
            connectionString="Data Source=172.16.168.212;Initial Catalog=ArfiPlusPerfurmes;Persist Security Info=True; User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>